<!--<lib-login [estadoForm]="actualView"></lib-login>
<button mat-raised-button (click)="openDynamic()">Open dynamic dialog</button>
<lib-fab-button-with-items
  [fabButtons]="itemArray"
  [displayingType]="'image'"
  [displayingResource]="'assets/brand.png'"
></lib-fab-button-with-items>
<lib-comparador-hookas
  [inputModel]="modeloInputComparador"
  [APIcomms]="APIComunicator"
></lib-comparador-hookas>
-->
<lib-header  [headerItems]="headerItems" [selectedBlock]="'1'"></lib-header>
<lib-block-list [inSideNav]="false" [blocks]="headerItems" [selectedBlock]="'1'"></lib-block-list>
<lib-subscribe-input-button-in-one [onClickCallback]="onClickCallbackFn"></lib-subscribe-input-button-in-one>